benchmarks/mttkrp_heat/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mttkrp_cov/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_cov/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/cnn_cov/fado.log filter=lfs diff=lfs merge=lfs -text
