benchmarks/mttkrp_heat/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mttkrp_cov/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_cov/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/fado.log filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.pp.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.2.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.2.prechk.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.o.1.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.1.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.lto.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g.0.bc filter=lfs diff=lfs merge=lfs -text
benchmarks/mm_2mm/top/solution/.autopilot/db/a.g filter=lfs diff=lfs merge=lfs -text
benchmarks/cnn_cov/fado.log filter=lfs diff=lfs merge=lfs -text
